#pragma once

#include <stdint.h>

namespace config {

// Copy to WifiConfig.h and fill with real values.
constexpr const char* kWifiSsid = "YOUR_WIFI_SSID";
constexpr const char* kWifiPassword = "YOUR_WIFI_PASSWORD";


}  // namespace config

